@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --first-gradient: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --second-gradient: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

img {
  max-width: 100%;
  height: 100%;
}

.img-logo {
  min-width: 99px;
  min-height: 20.5px;
  max-width: 128.25px;
  max-height: 26.78px;
  width: 30.25%;
  height: 100.24%;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem;
}

.container {
  display: flex;
  max-width: 100%;
  height: 40vh;
  width: 100%;
  background-image: url(images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container2 {
  display: none;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
  color: var(--dark-grayish-red);
  text-align: center;
}

p {
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
  color: var(--desaturated-red);
}

.parrafo {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  margin: 1rem 2rem;
  line-height: 1.2rem;
}

::-webkit-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: var(--desaturated-red);
  opacity: 0.7;
}

::-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: var(--desaturated-red);
  opacity: 0.7;
}

:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: var(--desaturated-red);
  opacity: 0.7;
}

:-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: var(--desaturated-red);
  opacity: 0.7;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}

.contact input {
  position: relative;
  height: 6vh;
  width: 80vw;
  border-radius: 1.5rem;
  padding-left: 1.5rem;
  border: 1px solid var(--desaturated-red);
  color: var(--dark-grayish-red);
  opacity: 0.65;
  outline: rgba(0, 0, 0, 0);
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  clip-path: polygon(0 0, 89% 0, 89% 100%, 0% 100%);
}

.contact input[type="email"]:focus {
  border: 2px solid var(--soft-red);
}

.btn {
  position: absolute;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 1.5rem;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  width: 16%;
  height: 6%;
  right: 10%;
  box-shadow: -1px 12px 30px -8px hsl(0, 93%, 68%, 0.75);
  z-index: 999;
}

.btn:hover {
  background: linear-gradient(
    135deg,
    hsl(0, 80%, 86%, 0.6),
    hsl(0, 74%, 74%, 0.6)
  );
  width: 18%;
}

.error-icon {
  display: none;
  position: absolute;
  margin-left: 35%;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  display: none;
  padding-left: 15%;
}

@media screen and (min-width: 480px) {
  .container {
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;
    background-position: top;
  }
}

@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
  }

  .container {
    display: none;
  }

  .container2 {
    display: flex;
    width: 45vw;
    height: 100vh;
    background-image: url(images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55vw;
    height: 100vh;
    padding: 0 10%;
    padding-right: 16%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  header {
    margin: 0;
  }

  .img-logo {
    width: 123.75px;
    height: 25.62px;
  }

  .text-content {
    align-items: start;
    margin-bottom: 6%;
    margin-top: 25%;
  }

  h1 {
    text-align: start;
    font-size: 4vw;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 4vw;
  }

  .parrafo {
    margin: 0;
    line-height: 2;
    text-align: start;
  }

  .btn {
    left: 32%;
    width: 7vw;
    height: 7%;
  }

  .btn:hover {
    width: 8vw;
  }

  .contact {
    margin-bottom: 4rem;
  }

  .error-icon {
    left: -6%;
  }

  .error-message {
    position: relative;
    bottom: 8%;
    right: 9%;
    margin: 0;
  }

  .contact input {
    height: 7vh;
    width: 80vw;
  }
}
